<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Analyzing Your Text...</title>
</head>
<body>
    <h1>Welcome to the text analyzer. Enter your text below</h1>
    <form action='/analyze' method='get'>
        <textarea name='text' style='margin: 0px; width: 721px; height: 93px;'></textarea><br>
        
        <input type="checkbox" name="fullcaps"> UPPERCASE<br>
        <button type='submit'> Analyze Text</button>
    </form>

<h1>Your Analyzed Text - {{ purpose }}</h1>
<p>
    {{ analyzed_text }}

</p>
</body>
</html>